.l-header {
	margin: 0 auto;
	min-width: 1440px;
	height: 973px;
	background: url(//s3.bmp.ovh/imgs/2022/08/12/decf34843c3d9863.jpg) no-repeat top center;
	background-size: cover;
}

.l-main {
	margin: 0 auto;
	min-width: 1440px;
	height: 2279px;
	background: url(//img1.imgtp.com/2022/12/10/N4BYpGed.jpg) no-repeat top center;
	background-size: cover;
}

.logo {
	top: 18px;
	left: 38px;
}

.btn-download {
	left: 50%;
	bottom: 0;
	margin-left: -231px;
	width: 463px;
	height: 152px;
	background: url(//png.pookcdn.net/new_net/lydr3d/newpc/btn_download.png) no-repeat;
	background-size: 100% 100%;
	z-index: 2;
}

.bg-video,
.video-start {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}

	.bg-video video,
	.video-start video {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.bg-video.show,
	.video-start.show {
		opacity: 1;
	}

.line {
	left: 0;
	bottom: -30px;
	width: 100%;
	height: 68px;
	background: url(//png.pookcdn.net/new_net/lydr3d/newpc/bg_line.png) no-repeat top center;
	background-size: cover;
}

.fish {
	right: -190px;
	top: -288px;
	width: 477px;
	height: 401px;
	background: url(//png.pookcdn.net/new_net/lydr3d/newpc/img_fish.png) no-repeat;
	background-size: 100% 100%;
}

.download-right {
	position: fixed;
	top: 50%;
	bottom: 0;
	right: 0;
	margin-top: -178px;
	padding-left: 12px;
	width: 296px;
	height: 610px;
	background: url(//png.pookcdn.net/new_net/lydr3d/newpc/bg_download_right.png) no-repeat;
	background-size: 100% 100%;
	box-sizing: border-box;
	z-index: 99;
}

.btn-download-pc {
	display: block;
	margin-top: -73px;
	width: 284px;
	height: 293px;
	background: url(//png.pookcdn.net/new_net/lydr3d/newpc/btn_download_pc.png) no-repeat;
	background-size: 100% 100%;
}

.btn-download-android,
.btn-download-ios,
.btn-download-mobile {
	display: block;
	top: -50px;
	margin: 0 auto 8px;
	width: 180px;
	height: 51px;
	background: url(//png.pookcdn.net/new_net/lydr3d/newpc/btn_download_android.png) no-repeat;
	background-size: 100% 100%;
}

.btn-download-ios {
	background-image: url(//png.pookcdn.net/new_net/lydr3d/newpc/btn_download_ios.png);
}

.btn-download-mobile {
	height: 57px;
	background-image: url(//png.pookcdn.net/new_net/lydr3d/newpc/btn_download_mobile.png);
}

.img-download-code {
	display: block;
	top: -50px;
	margin: 20px auto 13px;
	width: 130px;
}

.download-right .text {
	top: -50px;
	text-align: center;
	letter-spacing: 1px;
}

.container {
	margin: 0 auto;
	width: 1340px;
}

.news-content {
	margin: 140px 0 0 19px;
	width: 1330px;
	height: 409px;
	background: url(//png.pookcdn.net/new_net/lydr3d/newpc/bg_news.png) no-repeat;
	background-size: 100% 100%;
}

	.news-content .con-left {
		top: -80px;
		left: 52px;
		width: 640px;
	}

	.news-content .swiper-news {
		height: 430px;
	}

	.news-content .con-left .swiper-slide img {
		display: block;
		margin: 15px auto 0;
		width: 608px;
		height: 367px;
		border: 2px #409CCB solid;
	}

	.news-content .con-left .swiper-slide:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 640px;
		height: 405px;
		background: url(//png.pookcdn.net/new_net/lydr3d/newpc/bg_img_active.png) no-repeat;
		background-size: 100% 100%;
		z-index: 999;
	}

	.news-content .con-left .swiper-pagination-bullet {
		width: 27px;
		height: 27px;
		background: url(//png.pookcdn.net/new_net/lydr3d/newpc/ico_pagination.png) no-repeat;
		opacity: 1;
		background-size: 100% 100%;
	}

	.news-content .con-left .swiper-pagination-bullet-active {
		background-image: url(//png.pookcdn.net/new_net/lydr3d/newpc/ico_pagination_active.png);
	}

	.news-content .con-left .swiper-horizontal > .swiper-pagination-bullets,
	.news-content .con-left .swiper-pagination-bullets.swiper-pagination-horizontal,
	.news-content .con-left .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: -5px;
	}

.con-right {
	margin-top: -80px;
	width: 540px;
}

	.con-right .list-content {
		margin-left: 70px;
		width: 540px;
	}

	.con-right .tab {
		display: flex;
		display: -webkit-flex;
		margin-top: 20px;
		height: 35px;
		font-size: 16px;
		letter-spacing: 2px;
		padding-left: 5px;
		box-sizing: border-box;
	}

		.con-right .tab:after {
			content: "";
			position: absolute;
			bottom: 0;
			right: -35px;
			width: 237px;
			height: 1px;
			background: #929AB2;
		}

		.con-right .tab li {
			position: relative;
			margin-right: 13px;
			padding: 0 8px;
			line-height: 35px;
			color: #9D9D9D;
			border-bottom: 1px #37436A solid;
			cursor: pointer;
			display: inline-block\9;
			margin-right: 40px\9;
			transition: all 1s;
		}

			.con-right .tab li:last-child {
				margin-right: 0;
			}

			.con-right .tab li:hover, .con-right .tab li.active {
				color: #FEEEAD;
				border-bottom: 3px #FEEEAD solid;
			}

			.con-right .tab li .more {
				color: #9D9D9D;
			}

.culumn-list {
	margin-top: 45px;
	color: #BABBBF;
	line-height: 40px;
	letter-spacing: 2px;
	display: none;
}

	.culumn-list li {
		display: flex;
	}

	.culumn-list.active {
		display: block;
	}

	.culumn-list .txtTag {
		float: left;
		margin-right: 3px;
		margin-left: 0px;
		color: #fff88b;
		font-weight: bold;
	}

	.culumn-list .txtDate {
		float: right;
		font-size: 14px;
		color: #7A7D87;
	}

	.culumn-list a {
		width: 430px;
		display: inline-block;
		color: #BABBBF;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
	}

		.culumn-list a:hover {
			color: #fff;
		}

.feature-content {
	margin-top: 45px;
	margin-left: 15px;
}

.swiper img {
	display: block;
	width: 100%;
	height: 100%;
}

#certify {
	position: relative;
	width: 1260px;
	height: 550px;
	margin: 0 auto; /* padding-right: 250px; */
}

.slide {
	width: 1260px;
	height: 480px; /* margin-left: 350px !important; */
	position: absolute; /* left: 4.7%; */
}

.bottom_pagination .swiper-pagination-bullet {
	width: 30px !important;
	height: 30px !important;
	background: url(//png.pookcdn.net/new_net/xxmjj/pc/bottom_pagination.png) !important;
	vertical-align: middle;
}

.bottom_pagination .swiper-pagination-bullet-active {
	width: 50px !important;
	height: 50px !important;
	background: url(//png.pookcdn.net/new_net/xxmjj/pc/bottom_seleted_pagination.png) !important;
}

#certify .bottom_pagination {
	text-align: center !important;
	left: 45%; /* margin-left: 500px !important; */
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 8px !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 10px;
	left: -3px !important;
	width: 100%;
}

.left_arrow, .right_arrow {
	margin-top: -26px !important;
	top: 50% !important;
	width: 136px !important;
	height: 45px !important;
	z-index: 99;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.left_arrow {
	left: -50px !important;
	;
	background-image: url(//png.pookcdn.net/new_net/xxmjj/pc/left_arrow.png) !important;
}

.right_arrow {
	right: 50px !important;
	background-image: url(//png.pookcdn.net/new_net/xxmjj/pc/right_arrow.png) !important;
}

.slide .swiper-wrapper .swiper-slide {
	padding-top: 15px;
	width: 796px;
	height: 420px;
	opacity: 0;
}

.slide .swiper-wrapper .swiper-slide-prev, .slide .swiper-wrapper .swiper-slide-active, .slide .swiper-wrapper .swiper-slide-next {
	opacity: 1;
}

	.slide .swiper-wrapper .swiper-slide-active:after {
		content: '';
		position: absolute;
		top: 2px;
		left: -15px;
		width: 835px;
		height: 459px;
		background: url(//png.pookcdn.net/new_net/lydr3d/newpc/bg_img_active.png) no-repeat;
		background-size: 100% 100%;
		z-index: 33;
	}

.slide .swiper-wrapper .swiper-slide img {
	display: block;
	position: relative;
	width: 796px;
	height: 421px;
	border: 3px #419FCC solid;
	z-index: -1;
}

.slide .swiper-slide-visible:after {
	content: "";
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
	content: '' !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
	content: '' !important;
}

.bottom_pagination {
	top: 440px !important;
	left: -3px !important;
	width: 100%;
}

.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
	perspective: 1200px;
	overflow: hidden;
}

.swiper-pagination-bullet {
	opacity: 1 !important;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
	top: 14px;
	height: 428px;
	background: rgba(0,0,0,.5);
}

.swiper-3d .swiper-slide-shadow-right {
	left: 5px;
}

.feature-content .swiper-pagination-bullet {
	width: 48px;
	height: 48px;
	background: url(//png.pookcdn.net/new_net/lydr3d/newpc/ico_pagination.png) no-repeat;
	opacity: 1;
	background-size: 100% 100%;
}

.feature-content .swiper-pagination-bullet-active {
	background-image: url(//png.pookcdn.net/new_net/lydr3d/newpc/ico_pagination_active.png);
}

.feature-content .swiper-button-next,
.feature-content .swiper-button-prev {
	margin-top: -63px;
	width: 90px;
	height: 34px;
	background: url(//png.pookcdn.net/new_net/lydr3d/newpc/ico_pre.png) no-repeat;
	background-size: 100% 100%;
}

.feature-content .swiper-button-next {
	background-image: url(//png.pookcdn.net/new_net/lydr3d/newpc/ico_next.png);
}

.feature-content .swiper-button-prev {
	left: -40px;
}

.feature-content .swiper-button-next {
	right: -40px;
}


@media only screen and (max-width: 1680px) {
	.news-content, #certify {
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}

	.download-right {
		margin-top: -208px;
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}
}

@media only screen and (max-width: 1440px) {
	.news-content {
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}

	#certify {
		-webkit-transform: scale(.75);
		transform: scale(.75);
	}

	.vertical_tab {
		margin-left: 0;
	}

	.download-right {
		right: -20px;
		transform: scale(.7);
		-webkit-transform: scale(.7);
	}

	@keyframes bounceInRight {
		0% {
			opacity: 0;
			transform: translate3d(500%, 0, 0) scale(.7);
		}

		100% {
			opacity: 1;
			transform: translate3d(0%, 0, 0) scale(.7);
		}
	}
}
